body {
margin: 0;
padding: 0;
font-family: 'Roboto Slab', serif;
}

.banner-area {
position: relative;
width: 100%;
height: 100vh;
background-image: url(me.png);
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;
}

/* text in banner */
.personal-text {
line-spacing: 1px;
font-size: 48px;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* button in banner */
button {
  background-color: #0d7852;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

/* outer containers */
.etymology-area, .about-area, .art-area, .determination-area, .contact-area, .disclaimer-area {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
height: 700px;
}

/* text container to set text margin */
.text-part {
width: 65%;
height: 80%;
}

/* headers of each outer container */
h1 {
font-size: 50px;
font-family: 'Anton', sans-serif;
text-align: center;
}

/* text content of outer container */
p {
font-size: 30px;
line-height: 50px;
}

/* outer divisions with white backgrounds */
.about-area, .determination-area, .disclaimer-area {
background-color: #fefefe;
color: #0d7852;
}

.about-area p, .determination-area p{
text-align: left;
}

/* outer divisions with transparent backgrounds */
.etymology-area, .art-area, .contact-area {
color: #fff;
}

.art-area p, .contact-area p{
text-align: right;
}

.etymology-area p , .disclaimer-area p{
text-align: center;
}

/* icons in contact-area*/
.contents {
display:flex;
flex-direction: column;
align-items: center;
justify-items: center;
padding: 20px;
float: left;
}

/* text with icons */
.contents a {
color: #fff;
font-size: 100px;
}

/* inside disclaimer-area*/
.music {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.music a {
color: #0d7852;
}

.disclaimer {
color: black;
font-family: calibri;
font-size: 20px;
line-height: 20px;
}

html {
scroll-behavior: smooth;
background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(bazzi.jpg) no-repeat center fixed;
background-size: cover;
}